/*Reusable OnePoint Variables*/
:root {
    /*ColorSchemes*/
    --mainColor-Dom: rgb(2, 18, 32);
    --mainColor-Sub1: rgb(255, 157, 0);
    --mainColor-Sub2a: rgb(0, 35, 105);
    --mainColor-Sub2b: rgba(13, 255, 0, 0.5);
    --mainColor-Sub3: rgb(0, 255, 140);
    --mainColor-Sub4: rgb(0, 255, 234);
    --mainColor-Sub5: rgba(51, 0, 255, 0.45);
    --mainColor-Sub6: rgb(0, 255, 128);

    /*FontColorSchemes*/
    --fontColor-Title: rgb(255, 0, 0);
    --fontColor-Head1: rgb(255, 96, 96);
    --fontColor-ContW: rgb(255, 255, 255);
    --fontColor-ContB: rgb(0, 0, 0);
    --fontColor-ContR: rgb(57, 28, 28);
    --fontColor-Bold: rgb(255, 116, 16);
    --fontColor-BoldShadow: rgba(255, 159, 32, 0.45);

    /*MiscColor*/
    --link-ColorDormant: goldenrod;
    --link-ColorActive: rgb(255, 208, 89);
    --imag-ColorImageHover: crimson;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: var(--mainColor-Dom);
    margin: 0px;
}

/* ==================================================== Class Stylizations =======================================================*/
.canlasWebsite {
    padding: 0px;

    display: flex;
    flex-direction: column;
    width: 100%;
}

/*----- ---- --- -- - HEADER Section Stylization - -- --- ---- ----- */
.canlas-StylizedHeader {
    text-align: right;
    text-shadow: 10 10 10 var(--mainColor-Sub1);
    color: var(--fontColor-ContW);

    background-color: var(--mainColor-Sub6);
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    background-blend-mode: color-dodge;

    border: 90px;
    padding: 15px 15px 0px 15px;
    margin: 0px;

}

.kal-StylizedNavbar {
    background-color: var(--mainColor-Sub2a);
    padding: 5px 15px 0px 15px;
    border-radius: 15px 15px 0px 0px;

    text-align: center;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 12px;
}

.kal-StylizedNavbar a {
    width: 100%;
    padding: 10px 0px 10px 0px;

    background-color: rgba(0, 0, 0, 0.5);
    color: var(--fontColor-ContW);
    border: 0px;
    border-radius: 15px 15px 0px 0px;

    transition: background-color 0.3s ease-out;
}

.kal-StylizedNavbar a:hover {
    background-color: rgba(233, 0, 0, 0.849);
    color: var(--fontColor-ContW);
    border: 0px;
    border-radius: 15px 15px 0px 0px;

}

.kal-SNavButton{
    flex: 1;
}

.active{
    flex: 2;
}

@media (max-width: 600px) {
    .kal-StylizedNavbar {
        background-color: var(--mainColor-Sub2a);
        padding: 5px 15px 0px 15px;
        border-radius: 15px 15px 0px 0px;

        text-align: center;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 12px;
    }
    .kal-StylizedNavbar button{
        width: 100%;
        max-width: 250px;

        background-color: var(--mainColor-Sub2a);
        padding: 5px 8px 0px 8px;
        border-radius: 15px 15px 15px 15px;

        text-align: center;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 12px;
    }
}

.kal-Line {
    background-color: var(--mainColor-Sub5);
    padding: 5px 0px 5px 0px;
    width: 100%;
}

/*----- ---- --- -- - MAIN Section Stylization - -- --- ---- ----- */
.canlas-StylizedMain {
    text-align: center;
    text-shadow: 10 10 10 var(--mainColor-Sub1);
    color: var(--fontColor-ContW);

    background-color: var(--mainColor-Sub2a);
    background-image: url(https://static.vecteezy.com/system/resources/previews/060/274/391/non_2x/line-art-seamless-pattern-modern-pattern-black-and-white-pattern-doodle-art-doodle-pattern-funy-pattern-for-kids-and-teenagers-vector.jpg);
    background-repeat: repeat;
    background-size: 25%;
    background-blend-mode: overlay;
    padding: 0px;
    margin: 0px;

    flex: 0 0 70%;
    flex-direction: row;
}

.canlas-StylizedMain section {
    display: flex;
    gap: 20px;

}

.canlas-StylizedMain article {
    flex: 8;

}

.canlas-StylizedMain article strong {
    color: var(--fontColor-Bold);
    text-shadow: 0px 0px 10px var(--fontColor-BoldShadow);

}

.canlas-StylizedMain aside {
    background-color: var(--mainColor-Sub5);
    padding: 15px;

    flex: 3;
    text-align: right;

}

.canlas-StylizedMain aside a {
    color: var(--link-ColorDormant);

}

.canlas-StylizedMain aside a:hover {
    color: var(--link-ColorActive);

}

.canlas-StylizedMain h1 {
    text-align: left;
    color: var(--fontColor-ContW);

    background-color: var(--mainColor-Sub2a);
    padding: 25px 35px;

}

.canlas-StylizedMain em {
    font-size: x-small;
    color: var(--mainColor-Sub1);

}

.canlas-StylizedMain p {
    text-align: justify;
    color: var(--fontColor-ContW);

    background-color: var(--mainColor-Sub2b);
    padding: 25px 40px;

}

.canlas-StylizedMain img {
    color: var(--fontColor-ContW);

    background-color: var(--mainColor-Sub2b);
    border-radius: 25px;

    padding: 10px;
    max-width: 500px;
    height: auto;

    transition: box-shadow 0.5s ease;

}

.canlas-StylizedMain img:hover {
    box-shadow: 0px 0px 60px var(--imag-ColorImageHover);

}

.kal-Banner {
    max-width: 100%;
    height: 250px;
    margin: 0px;

    background-color: var(--mainColor-Sub6);
    background-image: url(https://i.pinimg.com/564x/e8/32/ca/e832ca4c5fb77bdec9289836514c9531.jpg);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;

    transition: height 0.5s ease;
}

.kal-Banner:hover {
    max-width: 100%;
    height: 750px;

    background-color: rgba(13, 255, 0, 0.5);

    backdrop-filter: blur(5px);
}

.kal-Banner h3 {
    font-size: xx-large;
    text-align: center;
    margin-top: 0px;

    transition: font-size 0.5s ease;
}

.kal-Banner:hover h3 {
    font-size: xx-small;
    text-align: center;
}

.kal-Banner h4 {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 0px;

    font-size: 0px;
    text-align: center;


    transition: font-size 0.5s ease;
}

.kal-Banner:hover h4 {
    padding: 0px 0px 0px 0px;

    text-align: center;
    font-size: 75px;
}

.kal-Banner p {
    padding: 0px 0px;

    font-size: 0px;
    text-align: center;


    transition: font-size 0.5s ease;
}

.kal-Banner:hover strong {
    padding: 0px 0px;

    font-size: 0px;
    text-align: center;
    color: var(--fontColor-ContW);

    transition: font-size 0.5s ease;
}

.kal-Banner:hover p {
    padding: 0px 0px 0px 0px;

    text-align: center;
    font-size: 30px;
}

.kal-Banner:hover p strong {
    padding: 0px 0px 0px 0px;

    text-align: center;
    font-size: 50px;
}

.kal-portfolio-1P1I-Box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-inline: 30px;
    gap: 30px;

}

.kal-portfolio-1P1I-Box img {
    width: 350px;
    height: auto;
    flex-shrink: 0;
}

.kal-portfolio-1P1I-Box p {
    flex: 1;

}


/*----- ---- --- -- - FOOTER Section Stylization - -- --- ---- ----- */
.canlas-StylizedFooter {
    text-align: center;
    font-size: x-small;
    color: var(--fontColor-ContR);

    background-color: var(--mainColor-Sub2a);
    padding: 30px 50px;

}